<div class="footer" id="footerdesign" >
	<div class="row">
		<div class="small-3 columns">
			<!--Copyright-->
			<p class="footerheader">Copyright</p>
		</div>
		<div class="small-3 columns">
			<!--Partners-->
			<p class="footerheader">
				Partners<br />
				<%= link_to "Partner 1", "#" %> <br />
				<%= link_to "Partner 2", "#" %> <br />
				<%= link_to "Partner 3", "#" %> <br />
				<%= link_to "Partner 4", "#" %> <br />
				<%= link_to "Partner 5", "#" %>
			</p>
		</div>
		<div class="small-3 columns">
			<!--Menu-->
			<p class="footerheader">
				Menu <br />
				<%= link_to "Services", services_path %> <br />
				<%= link_to "Clients And Projects", clientsAndProjects_path %> <br />
				<%= link_to "Partners", partners_path %> <br />
				<%= link_to "Contact Us", new_enquiry_path %> <br />
			</p>
		</div>
		<div class="small-3 columns contacts round">
			<!--Contacts-->
			<h5>Contacts</h5>
			<p>
				Tel No. <br />
				Email address <br />
				Facebook page <br />
				Twitter handle <br />
				YouTube channel <br />
			</p>
		</div>
	</div>
</div>
