
<!-- Mobile nav header -->
  <div class="row show-for-small offcanvas-toggle">
    <div class="large-12 columns">
      <a class="sidebar-button" id="sidebarButton" href="#sidebar">
        <h4>Sageo Technologies</h4>
      </a>
    </div>
  </div>
  <!-- /Mobile nav header -->

  <!-- Sageo topbar -->
  <nav class="top-bar hide-for-small" data-top-bar>
    <ul class="title-area" >
      <!-- Title Area -->
      <li class="name">
        <h1><a class="#" href="#">Sageo <strong>Technologies</strong></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section" >
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to "Services", services_path %></li>
        <li><%= link_to "Clients and Projects", clientsAndProjects_path %></li>
        <li><%= link_to "Partners", partners_path %></li>
        <li><a href="#" data-reveal-id="contactUs">Contact Us</a></li>
        <li>
        	<a href="#" data-dropdown="drop1">Login as Admin</a>
        	<div id="drop1" data-dropdown-content class="f-dropdown content">
        		<form>
        			<fieldset class="round">
        				<legend>Login</legend>
        				<label>Username</label>
        				<input type="text" placeholder="username..."><br />
        				<label>Password</label>
        				<input type="password" placeholder="password..."><br />
        				<a href="#" class="button tiny radius">Login</a>
        			</fieldset>
        		</form>
        	</div>
        		
        	</ul>
        </li>
        <div id="contactUs" class="reveal-modal round medium" data-revela>
        	<h4>Write To Us</h4>
        	<%= render "layouts/contactusform"%>
        	<a class="close-reveal-modal">&#215;</a>
        </div>
      </ul>
    </section>
  </nav>
  <!-- Sageo topbar -->

  <!-- Desktop header/nav -->
  <div class="header hide-for-small">
    <div class="row">
      <div class="large-7 columns logo">
        <%= link_to(image_tag "logo.jpg", :class => "round logo") %>

      </div>
      <div class="large-5 columns">
        <ul class="navigation">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_path %></li>
          <li><a href="#" class="button tiny round" data-reveal-id="myModal" >Contact</a></li>

          <div id="myModal" class="reveal-modal round medium" data-reveal >
          	<h4>Our Contacts</h4>
          	<p>Sageo Contact Information goes here.</p>
          	<a class="close-reveal-modal">&#215;</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Header/nav -->
