
<!-- Mobile nav header -->
  <div class="row show-for-small offcanvas-toggle">
    <div class="large-12 columns">
      <a class="sidebar-button" id="sidebarButton" href="#sidebar">
        <h4>Sageo Technologies</h4>
      </a>
    </div>
  </div>
  <!-- /Mobile nav header -->

  <!-- Sageo topbar -->
  <nav class="top-bar hide-for-small" data-top-bar>
    <ul class="title-area" >
      <!-- Title Area -->
      <li class="name">
        <h1><a class="#" href="#">Sageo <strong>Technologies</strong></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section" >
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to "Services", services_path %></li>
        <li><%= link_to "Clients and Projects", clientsAndProjects_path %></li>
        <li><%= link_to "Partners", partners_path %></li>
        <li><a href="#" data-reveal-id="contactUs">Contact Us</a></li>
        
        <% if admin_signed_in? %>
        
        	<li class=""><a href="#" data-dropdown="hover1" data-options="is_hover:true"><%= current_admin.email %> </a>
        		<ul id="hover1" class="f-dropdown" data-dropdown-content>
        			<li><%= link_to "View enquiries", enquiries_path %></li>
        			<li><%= link_to "Edit profile", edit_admin_registration_path %></li>
        			<li><%= link_to "Change password", edit_admin_password_path %></li>
        			<li><%= link_to "Create new admin", new_admin_registration_path %></li>
        			<li><%= link_to "Log out", destroy_admin_session_path, :method => :delete %></li>
        		</ul>
        	</li>
        
        <% else %>
        
        	<li><%= link_to "Login", new_admin_session_path %></li>
        
        <% end %>
        
        <div id="contactUs" class="reveal-modal round medium" data-revela>
        	<h4>Write To Us</h4>
        	<%= render "layouts/contactusform"%>
        	<a class="close-reveal-modal">&#215;</a>
        </div>
      </ul>
    </section>
  </nav>
  <!-- Sageo topbar -->

  <!-- Desktop header/nav -->
  <div class="header hide-for-small">
    <div class="row">
      <div class="large-7 columns logo">
        <%= link_to(image_tag "sageologo.png", :class => "round") %>

      </div>
      <div class="large-5 columns">
        <ul class="navigation">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_path %></li>
          <li><a href="#" class="button tiny round" data-reveal-id="myModal" >Contact</a></li>

          <div id="myModal" class="reveal-modal round small" data-reveal >
          	<form>
          		<fieldset class="radius">
          			<legend>Our Contacts</legend>
          			<label>+254 020 2345423</label> <br />
								<label>+254 0722-706701</label> <br />
								<label>info@sageotech.com</label> <br /> 
								<label>Twitter: @sageotechnologies</label> <br />
								<label>Facebook: Sageo Technologies</label> <br />
          		</fieldset>
          	</form>
          	<a class="close-reveal-modal">&#215;</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Header/nav -->
