<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : title %></title>

    <%= render "layouts/stylesheets" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

  </head>

  <body class="wrapper">

  	<div id="radial-center" >

			<%= render "layouts/header" %>
			
			<% flash.each do |name, msg| %>
  			<% if msg.is_a?(String) %>
  				<div class="alert-box <%= name == :notice ? "success" : "alert" %>">
  					<a class="close" data-dismiss="alert">&#215;</a>
  					<%= content_tag :div, msg, :id => "flash_#{name}", :style => "text-align: center;"%>
  				</div>
  			<% end %>
  		<% end %>

    	<%= yield %>

    	<div class="push"></div>

  	</div>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


    <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52dcf70f0e8deadf"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 6
    },
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'ronnie_nyaga'},
        {'service': 'twitter', 'id': '@ronnie_nyaga'},
        {'service': 'linkedin', 'id': 'ronnie_nyaga'},
        {'service': 'google_follow', 'id': 'ronnienyaga'},
        {'service': 'youtube', 'id': 'ronnie nyaga'},
        {'service': 'instagram', 'id': 'ronnie_nyaga'},
        {'service': 'foursquare', 'id': 'Ronnie N.'}
      ]
    },
    'whatsnext' : {},
    'recommended' : {}
  });
</script>
<!-- AddThis Smart Layers END -->




  </body>
</html>
